<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<!-- <%= link_to 'New Friendship', new_friendship_path %>-->

<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% @friendship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12">
    <div class="field col-sm-3">
      <%= f.label :user_email %>
      <%= f.number_field :user_email %>
    </div>
    <div class="actions col-sm-4">
      <%= f.submit %>
    </div>
  </div>
<% end %>



<fieldset class="scroll col-sm-12">
  <legend>Friends List:</legend>
  <% @friendships.each do |friendship| %>
    <div class="col-sm-4">
      <img class="col-sm-5" src="">
      <div class="col-sm-6">
        <span class="col-sm-12"><%= friendship.friend.name %></span>
        <span class="col-sm-12"><%= link_to 'Unfriend', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    </div>
  <% end %>
</fieldset>

