<div class="border-form-div">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, :placeholder => 'User Name'  %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email address' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password confirmation' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",:class=>'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
